.App .container {
  max-width: 750px;
  margin: 0 auto;
  margin-top: 30px;
  padding-top: 30px;
  background: linear-gradient(
    68.6deg,
    rgb(252, 165, 241) 1.8%,
    rgb(181, 255, 255) 100.5%
  );
  border-radius: 8px;
  box-shadow: 2px 2px 2px rgb(83, 79, 79);
}

.App footer {
  font-size: 12px;
  text-align: center;
  margin-top: 5px;
}
